<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styleSheets/new.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/chats">
            <label for="from">From :-</label>
            <input type="text" name="from" id="from" value="Mr. Unknown">
            <textarea name="msg" id="msg" placeholder="Say Something...." rows="8" cols="30"></textarea>
            <label for="to">To :-</label>
            <input type="text" name="to" id="to"  value="Miss Unknown">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>